/Dokumentation/texput.log
/Dokumentation/praxisprojekt.pdf
/Dokumentation/praxisprojekt.tex
/Dokumentation/auto/praxisprojekt.el
/Dokumentation/auto/literatur.el
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
/Dokumentation/praxisprojekt.run.xml
.DS_Store
/haskell-producer/.stack-work
